*{
    margin: 0;
}
.box{
 display: inline-block;
 background-color: red;
 
}

.first, .third{
    height: 40vh;
    width: 25vw;
    
}

.second, .fourth{
    height: 40vh;
    width: 60vw;
    margin-left: 14vw;
}

.third{
    margin-top: 20vh;
}