.box{
    display: inline-block;
    width: 200px;
    height: 200px;
}

.container{
    background-color: aquamarine;
    margin-top: 100px;
    margin-left: 100px;
}

.box1{
    background-color: blue;
}

.box2{
    background-color: red;
    position: relative;
    left: 20px;
    top: 20px;
    z-index: 6;
}

.box3{
    background-color: yellow;
    position: relative;
    z-index: 8;
}
.box4{
    background-color: palegreen;
}