.first{
    background-color: orange;
    height: 200px;
    width: 250px;
    margin: 40px;
}
.second{
    background-color: blue;
    height: 200px;
    width: 250px;
    margin: 50px;
}

span{
    background-color: aqua;
    margin: 200px;
    height: 100px;
    width: 200px;
}