.container{
    background-color: red;
    /* height: 500px;
    width: 500px; */
    display: flex;
}

.box{
    height: 300px;
    width: 300px;
    color: red;
    background-color: aqua;
    margin: 30px    ;
}

@media (max-width:600px){
    .container{
        flex-wrap: wrap;
    }
}

/* @media (max-width:400px){
    .container{
        background-color: aqua;
        height: 150px;
        width: 150px;
        border-radius: 50%;
    }
} */